<div class="container">
  <h3>Sign Up</h3>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="col-xl-12 col-md-12 col-sm-12">
          <div class="form-field">
              <label for="email">E-mail:</label>
              <input type="email" name="email" ngModel class="form-control"/>
          </div>
          <div class="form-field">
              <label for="email">Password:</label>
              <input type="password" name="password" id="password" ngModel class="form-control"/>
          </div>
          <div class="form-field">
            <label for="identity">Who are you:</label>
            <select ngModel name="identity" id="identity" class="form-control">
                <option name="security">security</option>
                <option name="authority">authority</option>
              </select>
        </div>
          <div class="form-field">
            <input type="submit" class="btn btn-success" value="submit"/>
          </div>
        </div>
  </form>
</div>